body{
    background-color: #6bc76f;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.elemento-flutuante {
    animation: float 3s ease-in-out infinite;
    width: 0%;
    height: 0%;
    position: absolute;
    transition: 2s;
    z-index: -1;
    user-select: none;
}

#caixa{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 58px;
    z-index: 10;
}

.texto {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 58px;
    z-index: 10;
}

.button:hover {
    transition: 1s;
    background-color: #ffffff00; 
    color: black; 
    border: 1px solid #4CAF50; 
    z-index: 10;
}