{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista De Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>

    <div id='caixa' style="text-align: center;">

    
        <div>
            <a href="{% url 'misturar_compostos' %}" class="button">Formar</a>
            <a href="{% url 'lista' %}" class="button">Registrar</a>
        </div>

        <form method="GET" action="{% url 'pesquisar_produto' %}">
            <input type="text" name="termo_pesquisa" class="texto" placeholder="Digite o nome do produto">
            <br>
            <input class="button" type="submit" value="Pesquisar">
        </form>
    </div>

    <script>
        let string = `{{ produtos }}`.replace(/&quot;/g, '"').replace(/\n/g, '');
        let registros = JSON.parse(string);
        console.log(registros)


        registros.forEach((produto) => {
            console.log(produto);
            let GerarDiv = document.createElement('div');
            GerarDiv.className = 'elemento-flutuante';
            GerarDiv.style.display = 'none';
            GerarDiv.innerText = produto.nome;
            document.body.appendChild(GerarDiv);
        })

        function getRandomPosition(element) {
            const x = window.innerWidth - element.clientWidth;
            const y = window.innerHeight - element.clientHeight;
            const randomX = Math.floor(Math.random() * x);
            const randomY = Math.floor(Math.random() * y);
            return [randomX, randomY];
        }

        async function setRandomSpawn(element) {
            RandomSpawn = Math.floor(Math.random() * 10)
            console.log(RandomSpawn);
            Tempo = RandomSpawn * 1000;
            setTimeout(()=> element.style.display = "flex", Tempo);
        }

        function setRandomPosition(element) {
            const [randomX, randomY] = getRandomPosition(element);
            element.style.left = `${randomX}px`;
            element.style.top = `${randomY}px`;
        }

        const element = document.getElementsByClassName('elemento-flutuante');
            console.log(element);
            [...element].forEach(element => {
                setRandomSpawn(element);
            });

        function change(){

            const element = document.getElementsByClassName('elemento-flutuante');

            [...element].forEach(element => {
                
                setRandomPosition(element);
            });
        }


        setInterval(() => change(), 5000);
    </script>
</body>
</html>