{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista De Registro</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    
</head>
<body>
    <a href="{% url 'index' %}" class="button">
        Voltar
    </a>
    <table class="tabela">
        <thead>
            <tr>
                <th class="lin">ID</th>
                <th class="lin"><h2>Nome</h2></th>
                <th class="lin"><h2>Categoria</h2></th>
                <th class="lin"><h2>Origem</h2></th>
                <th class="lin"><h2>Compostos</h2></th>
                <th class="lin"><h2>Ações</h2></th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}

            <tr>
                <td class="lin2">{{ produto.id }}</td>
                <td class="lin2">{{ produto.nome }}</td>
                <td class="lin2">{{ produto.categoria }}</td>
                <td class="lin2">{{ produto.origem }}</td>
                <td class="lin2">{{ produto.compostos }}</td>
                <td class="lin2"><a href="{% url 'delete' produto.id %}" class="button2">Excluir</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    <a class="button" href="{% url 'registrar_produto' %}">
        Registro/Alteração
    </a>
</body>
</html>