{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Mixar Compostos</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <a class="button" href="{% url 'index' %}">Voltar</a>
    <div class="mixar">
        <h1 class="titulo2">Mixar Compostos Químicos</h1>
        <form method="post">
            <p class="fundir">Insira os elementos a serem fundidos:(separe-os com vírgula)</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Mixar</button>
        </form>
    </div>

</body>
</html>