{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Página de Registro do Produto</title>
</head>
<body>
    <h1>Formulário de registro e alteração do produto</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Registrar/Alterar produto</button>
    </form>
    <a href="{% url 'lista' %}" class="button">Voltar</a>
</body>
</html>