{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Resultado da Mistura</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <h1>Resultado da Mistura</h1>
    <p id="resp">{{ resultado }}</p>
    <a href="{% url 'misturar_compostos' %}" class="button">Voltar</a>

    <script>
        function removerAspas() {
    
            var texto = document.getElementById('resp');
            
            var text = texto.innerText;
            
            var novoTexto = text.replace(/"/g, '');
            
            texto.innerText = novoTexto;
        }
        
        removerAspas();
    </script>
</body>
</html>
