{% load static %}

<!DOCTYPE html>
<html lang="">
<head>
    <title>Resultado da Mistura</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <a href="{% url 'misturar_compostos' %}" class="button">Voltar</a>
    <div class="caixa">
        <div class="mixar">
            <h1 class="titulo2">Resultado da Mistura</h1>
            <p id="resp" style="font-family: 'poppins', sans-serif; color: white; text-align: justify;">{{ resultado }}</p>
        </div>
    </div>

    <script>
        function removerAspas() {
    
            var texto = document.getElementById('resp');
            
            var text = texto.innerText;
            
            var novoTexto = text.replace(/"/g, '');
            
            texto.innerText = novoTexto;
        }
        
        removerAspas();
    </script>
</body>
</html>