{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Resultados da Pesquisa</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
    <a href="/" class="button">Voltar</a>
    <div class="resultado_pesquisa">
        <h1 class="titulo2">Resultados da Pesquisa para "{{ termo_pesquisa }}"</h1>
        <div id='cards'>
            {% for produto in produtos %}
            <div class="card">
                <ul>
                    <li style="font-size: 1.9rem;">Nome: {{ produto.nome }}</li>
                    <li>Origem: {{ produto.origem }}</li>
                    <li>Compostos: {{ produto.compostos }}</li>
                    <li>Categoria: {{ produto.categoria }}</li>
                    <li>
                        <p>Figura: </p>
                        <img src="../{{ produto.imagem }}" width="300px">
                    </li>
                    <li>
                        <p>3D</p>
                        <iframe style="width: 500px; height: 300px;" frameborder="0" src="{{ produto.link }}"></iframe>
                    </li>
                </ul>
            </div>
            {% empty %}
            <div class="card">
                <ul>
                    <li>Nenhum produto encontrado.</li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>